body {
  background: grey;
}

h1 {
  text-align: center;
}

img {
  margin-top: -10px;
}

.navbar {
  background-color: white;
}

.dropdown {
  float: right;
  line-height: 50px;
  margin-right: 10px;
}


div.navbar-header {
  width: 100%;
}
