body {
  background: grey;
}

h1 {
  text-align: center;
  margin-top: 70px;
}

img {
  margin-top: -10px;
}

.navbar {
  background-color: white;
}

.dropdown {
  float: right;
  line-height: 50px;
  margin-right: 10px;
}


div.navbar-header {
  width: 100%;
}

[ticker] .minus-margin-top {
  margin-top:-60px;
  list-style: none;
}

@media (min-width:768px) {
  [ticker] .minus-margin-top {
    margin-top:-30px;
    list-style: none;
  }
}

div {
  margin: 0;
}

.google-map {
  width: 70%;
  height: 100vh;
  border-radius: 15px;
}