body {
  background: grey;
}

h1 {
  text-align: center;
  margin-top: 70px;
}

img {
  margin-top: -10px;
}

.navbar {
  background-color: white;
}

.dropdown {
  float: right;
  line-height: 50px;
  margin-right: 10px;
}


div.navbar-header {
  width: 100%;
}

/*.ticker {
  height: 250px;
  list-style: none;
  z-index: 3;
  display: inline-block;
}*/

/*.ticker{
  margin-top:-60px;
  list-style: none;
  text-decoration: none;
  display: inline-block;

}*/

@media (min-width:768px) {
  .ticker {
    margin-top: 50px;
    list-style: none;
    text-decoration: none;
    display: inline;
  }
}

div {
  margin: 0;
}

.google-map {
  width: 70%;
  height: 100vh;
  border-radius: 15px;
}

.am {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  padding: 2px;
  width: 250px;
  height: 300px;
}

.pm {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  padding: 2px;
  width: 250px;
  height: 300px;
}

/*.mon {
  display: block;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  padding: 2px;
  width: 250px;
  height: 300px;
}

.tue {
  display: block;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  padding: 2px;
  width: 250px;
  height: 300px;
}

.wed {
  display: block;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  padding: 2px;
  width: 250px;
  height: 300px;
}

.thur {
  display: block;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  padding: 2px;
  width: 250px;
  height: 300px;
}

.fri {
  display: block;
  text-align: center;
  margin: 0 auto;
  border: 1px solid black;
  padding: 2px;
  width: 250px;
  height: 300px;
}

#square1 {
  display: inline-block;
}

#square2 {
  display: inline-block;
}*/