<div class="row">
  <section class="col-md-6 school-info">
    <div style="height: 300px;">
      
      <uib-carousel active="active" interval="5000" style="height:300px;">
        <uib-slide ng-repeat="slide in centers.slides track by $index" index="$index" style="height:300px;">
          <img class="carousel-img" ng-src="{{slide}}">
        </uib-slide>
      </uib-carousel>
      <h2>{{ centers.currentCenter.name | uppercase }}</h2>
    </div>
  </section>

  <section class="col-md-6 school-info">
    <div class="map">
      <map center="centers.mapCenter" marker="centers.mapMarker"></map>
    </div>
  </section>
</div>

<div class="row">
  <section class="col-md-12" ng-controller="adminsController as admins">
    <div ng-hide="centers.selectedEvent" class="timetable">
      <h3>Timetable</h3>
      <a ui-sref="newEvent({ id: centers.currentCenter._id })" class="btn btn-default" ng-if="admins.isLoggedIn()">Add Event</a>

      <table>
        <tr>
          <td>Monday</td>
          <td>Tuesday</td>
          <td>Wednesday</td>
          <td>Thursday</td>
          <td>Friday</td>
          <td>Saturday</td>
        </tr>
        <tr>
          <td ng-repeat="day in centers.days track by $index">
            <div ng-repeat="(timeOfDay, events) in centers.week[day]">
              <div class="table-block">
                <label>{{ timeOfDay }}</label>
                <div ng-repeat="event in events" ng-click="centers.selectEvent(event)" class="tablecell" id="{{event._id}}">
                  <h4>{{ event.name }}</h4>
                  <h5>{{ event.startTime }}</h5>
                  <h5>{{ event.endTime }}</h5>
                  <h5>{{ event.venue }}</h5>
                  <p class="pcell">{{ event.content }}</p>
                  <a ui-sref="event({ id: centers.currentCenter._id, eventId: event._id })">Read More</a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div>
    <div ng-show="centers.selectedEvent">
      <form ng-submit="centers.saveEvent()" ng-if="admins.isLoggedIn()">
        <div class="form-group">
          <input ng-model="centers.selectedEvent.name" placeholder="Name" class="form-control">
        </div>
        <div class="form-group">
          <input ng-model="centers.selectedEvent.startTime" placeholder="Start Time" class="form-control">
        </div>
        <div class="form-group">
          <input ng-model="centers.selectedEvent.endTime" placeholder="End Time" class="form-control">
        </div>
        <div class="form-group">
          <input ng-model="centers.selectedEvent.venue" placeholder="Venue" class="form-control">
        </div>
        <div class="form-group">
          <textarea rows="10" ng-model="centers.selectedEvent.content" placeholder="Info" class="form-control"></textarea>
        </div>
        <button class="btn btn-primary">Save</button>
      </form>
      <button class="btn btn-primary" ng-click="centers.deleteEvent()" ng-if="admins.isLoggedIn()">Delete</button>

      <div class="form-group" ng-if="!admins.isLoggedIn()">
        <h2 class="readtitle">{{ centers.selectedEvent.name }}</h2>
        <h5 class="readstartTime">{{ centers.selectedEvent.startTime }}</h5>
        <h5 class="readendTime">{{ centers.selectedEvent.endTime }}</h5>
        <h5 class="readvenue">{{ centers.selectedEvent.venue }}</h5>
        <p class="readtext">{{ centers.selectedEvent.content }}</p>
      </div>
    </div>
  </section>  
</div>
 