<h1>Bermondsey and Rotherhite Locality<br>Children's Centres</br></h1>
<!-- <ul class="homelink"> -->
  <li class="homelink">
    <div class="cloud1">
      <img src="/images/cloud.png" alt="Cloud" style="width:284px;height:208px;">
      <a ui-sref="info">Information For Families</a>
    </div>
  </li>
  <li ng-repeat="(key, center) in centers.all" class="homelink">
    <div class="cloud{{key+2}}">
      <img src="/images/cloud.png" alt="Cloud" style="width:284px;height:208px;">
      <a ui-sref="center({ id: center._id })">{{ center.name }}</a>
    </div>
  </li>
<!-- </ul> -->



<!-- <ul class="loginlink">
  <li ng-hide="admins.isLoggedIn()"><a href="#login">Login</a></li>
  <li ng-hide="admins.isLoggedIn()"><a href="#register">Register</a></li>
  <li ng-show="admins.isLoggedIn()"><a href="#logout" ng-click="admins.logout()">Logout</a></li>
</ul> -->