<h1>New Event</h1>

<div ng-controller="centersController as centers">
  <form ng-submit="centers.addEvent()" ng-if="admins.isLoggedIn()">
    <div class="form-group">
      <label for="singleSelect"></label>
      <select name="day" ng-model="centers.newEvent.day" class="form-control">
        <option value="" disabled selected>Please choose a day</option>
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
      </select>
    </div>
    <div class="form-group">
      <label for="singleSelect"></label>
      <select name="time" ng-model="centers.newEvent.timeOfDay" class="form-control">
        <option value="" disabled selected>Please select time of day</option>
        <option value="AM">AM</option>
        <option value="PM">PM</option>
      </select>
    </div>
    <div class="form-group">
      <input placeholder="Name" ng-model="centers.newEvent.name" class="form-control">
    </div>
    <div class="form-group">
      <input placeholder="Start Time" ng-model="centers.newEvent.startTime" class="form-control">
    </div>
    <div class="form-group">
      <input placeholder="End Time" ng-model="centers.newEvent.endTime" class="form-control">
    </div>
    <div class="form-group">
      <input placeholder="Venue" ng-model="centers.newEvent.venue" class="form-control">
    </div>
    <div class="form-group">
      <textarea rows="10" ng-model="centers.newEvent.content" placeholder="Info" class="form-control"></textarea>
    </div>
    <button class="btn btn-primary">Add</button>
  </form>
</div>